<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Jinja live parser</title>
</head>

<body>
    <form class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>Template</h1>
                <textarea id="template">{% include 'example_template.html' %}</textarea>
            </div>
            <div class="col-md-5">
                <h1>Render</h1>
                <div id="render"></div>
            </div>
            <div class="col-md-2">
                <h1>Settings</h1>
                <div id="settings">
                    <label><input type="checkbox" name="showwhitespaces" checked="checked" /> Show whitespaces</label><br/>
                    <label><input type="checkbox" name="dummyvalues" /> Use dummy values</label>
                    <label><input type="checkbox" name="use_yaml" /> Data is YAML</label>
                    <input type="button" class="btn btn-success" id="convert" value="Convert" />
                    <input type="button" class="btn btn-danger" id="clear" value="Clear" />
                </div>
            </div>
        </div>

        <div class="row">
            <div id="data" class="col-md-5">
                <h1>Values (JSON)</h1>
                <textarea id="values">{% include 'example_values.html' %}</textarea>
            </div>

            <div class="col-md-5">
                <h1>Available Functions</h1>
                <h3>mouse-over for doc-string</h3>
                <table>
                  {% include 'functions.html' %}
                </table>
            </div>
        </div>
    </form>
</body>

</html>
